@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');

body{
    background-color: aqua;
    font-family: Jost;
}

.container{
    /* width: 80%; */
    margin: auto;
    /* box-sizing: border-box; */
    /* border: 3px solid #000; */
    text-align: center;
    padding: 10px;
}

.box{
    width: 30%;
    float: left;
}

footer{
    clear: both;
}
